<div class="page-header">
  {% if page.status != "none" %}
	<div class="status {{page.status}}"  {% if page.status-desc != nil %} title="{{page.status-desc}}"{% endif %}>
	  <div class="title">Document status</div><hr/>
	  <div class="description">{{ page.status_label[page.status] }}</div>
	  {% if page.status-desc != nil %}<div class="has_description">...</div>{% endif %}
	</div>
  {% endif %}
  {% if page.can_edit %}
	<div class="edit_page">
		<a href="https://github.com/JKwarn/rmlui-doc-cn/blob/main/{{ page.path }}">Edit on GitHub</a>
	</div>
  {% endif %}

  {% include language.html %}
  {% if counterpart %}
    <div class="language-switcher">
      {% if current_language == 'en' %}
        <a href="{{ counterpart.url | relative_url }}">中文</a>
      {% else %}
        <a href="{{ counterpart.url | relative_url }}">English</a>
      {% endif %}
    </div>
  {% endif %}

  <h2>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
</div>

<div class="row-fluid">
  <div {% if page.can_edit %}id="anchor-container"{% endif %} class="span12">
    {{ content }}
  </div>
</div>
